@font-face {
    font-family: 'raleway';
    src: url(/assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{

    /* COLORES */
    --color-red: #FF3333;
    --color-light-red: rgba(255,51,51,0.5);

    --color-blue: #1D84B5;
    --color-light-blue: rgb(29, 132, 181,0.7);

    --color-dark-bg: #30343F;
    --color-gray: rgb(79, 79, 79,0.8);
    --color-light-gray: rgb(79, 79, 79,0.4);

    --color-dark: #1F1F1F;
    --color-light-dark: rgb(31, 31, 31,0.8);

    --light-font: #FFFFFF;
    --light-bg: #FAFAFF;

    /* TIPOGRAFIA */
    --font-base: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

}

img{
    width: 100%;
}
.header{
    background-color: var(--color-dark-bg);
    padding: 10px;
}
.container{
    max-width: 75rem;
    margin: 0 auto;
}
.navbar{
    background-color: var(--color-dark-bg);
    font-family: var(--font-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar__icon{
    color: var(--light-font);
}
.navbar__link{
    color: var(--light-font);
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    position: relative;
}
.navbar__link--icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar__link:hover{
    color: #BCBCBC;
    /* background-color: #505050; */
}

.navbar__link:hover .icon-animation{
    transform: rotate(90deg);
    transition: transform .3s;
    /* background-color: #505050; */
}



.submenu{
    display: none;
    position: absolute;
    background-color: var(--color-dark-bg);
    font-size: 13px;
    list-style: none;
    padding: 0px;
    z-index: 50;
}
.navbar__item--with-submenu:hover .submenu{
    display: block;
}
.submenu__link{
    text-decoration: none;
    color: var(--light-font);
    display: block;
    padding: 8px;
    margin-right: 50px;
}
.submenu__link:hover{
    color: #BCBCBC;
}


.banner{
    background-image: url(./assets/img/funkos-banner.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 128px;
    position: relative;
}
.banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
    backdrop-filter: blur(6px) ;
}
.banner__content{
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 2;
    position: relative;
}
.banner__title{
    color: var(--light-font);
    font-family: var(--alternative-font);
    font-size: 38px;
    margin-left: 45px;
}
.banner__text{
    font-family: var(--alternative-font);
    color: var(--light-font);
    font-size: 18px;
}


.buttom{
    display: inline-block;
    font-family: var(--font-base);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--light-bg);
    color: #000000;
    padding: 20px 68px;
    border-radius: 50px;
    box-shadow: 10px;
    margin-left: 95px;
}

.buttom--dark{
    background-color: var(--color-dark-bg);
    color: var(--light-font);
    margin: 20px 0px;
    padding: 30px;
}

.buttom:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 30px 0px;
}



.collection{
    display: flex;
    flex-direction: column;
}

.collection__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection__item--reverse{
    flex-direction: row-reverse;
}

.collection__description{
    margin: 36px;
}

.collection__text{
    font-family: var(--alternative-font);
    font-size: 16px;
}

.collection__title{
    font-family: var(--alternative-font);
    font-size: 38px;
}

.collection__bar{
    display: block;
    border: 1px solid #ff0000;
}


.new-collection{
    display: flex;
    flex-direction: column;
}

.new-collection__title{
    font-family: var(--alternative-font);
    font-size: 46px;
}

.new-collection__collection{
    display: flex;
}

.new-collection__item{
    position: relative;
    margin: 24px;
    
}

.new-collection__link{
    color: var(--color-dark);
    text-decoration: none;
}
.new-collection__img-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.new-collection__img-container:hover .new-collection__img--box{
    display: block;
    animation: shadow-fade 1s ease-out
}

.new-collection__img-container:hover .new-collection__img{
    display: none;
    
}

.new-collection__img{
    animation: shadow-fade 1s ease-out
}

.new-collection__img--box{
    display: none;
}

@keyframes shadow-fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.new-collection__text--new-article{
    position: absolute;
    background-color: var(--color-red);
    font-family: var(--font-base);
    color: var(--light-font);
    padding: 8px 12px;
    right: 0px;
}

.new-collection__item-text{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.new-collection__text{
    font-family: var(--font-base);
    font-size: 16px;
}

.new-collection__text--item{
    font-size: 18px;
    font-weight: bolder;
}

.new-collection__text--blue{
    font-size: 14px;
    color: var(--color-blue);
    font-weight: bold;
}


.footer{
    background-color: var(--color-dark-bg);
}

.footer__container{
    background-color: var(--color-dark-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.footer__list{
    display: block;
    padding: 15px;
}

.footer__item{
    list-style: none;
}

.footer__rights{
    padding: 6px;
    align-self: flex-end;
}

.footer__text{
    color: var(--light-font);
}


