<footer class="footer">
    <div class="footer__container container">
        <nav class="footer__navbar navbar">
            <ul class="footer__list navbar__list">
                <li class="footer__item">
                    <a href="/auth/register" class="footer__link navbar__link"> REGISTRARSE</a>
                </li>
                <li class="footer__item">
                    <a href="/auth/login" class="footer__link navbar__link">LOGIN</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link navbar__link">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <div class="footer__rights">
            <p class="footer__text">All rights reserved 2023 - Funkoshop &copy;</p>
            <p class="footer__text">CODO A CODO - Curso Java Script-Node JS</p>
            <p class="footer__text"> Comision 23568 Grupo 7</p>
        </div>
        <div class="footer__logo ">
            <img src="/img/multimedia/branding/isotype.svg" alt="logo_FUNKOSHOP" class="footer__img">
        </div>
    </div>
</footer>