<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Somos alumnos de Codo a Codo, del curso Node JS-JavaScript, comision 23568, con el profesor Sr Alberto Gabriel Feldman"
    />
    <meta
      name="keywords"
      content="Tienda Funkoshop, articulos de las sagas Star Wars, Pockemon, Harry Potter. Funkos, Remeras, Llaveros"
    />
    <title><%= title %> |Funkoshop</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/estilos/Normalize.css">
    <link rel="stylesheet" href="/estilos/adminListadoProductos.css"/>
  </head>
  <body>
    <%- include('../partials/header') %>

    <section class="container">
        <div class="table__search">
            <i
            class="fa-solid fa-magnifying-glass search-icon"
            style="color: #000000"
          ></i>
          <input type="search" placeholder="código,nombre o categoría" />
        </div>
  
        <div class="table__title">
          <h1 class="table__title--list">LISTADO DE PRODUCTOS</h1>
          <div class="table__title--agregar">
            <p>AGREGAR</p>
            <a class="" href="../admin/create.html">
                <i
                class="fa-solid fa-plus bottom-decrease-increase title-list__add-bottom"
              ></i>
            </a>
          </div>
        </div>
  
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Código</th>
              <th>Nombre del producto</th>
              <th>Categoría</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="ID">1</td>
              <td data-title="Código">STW001001</td>
              <td data-title="Nombre del producto">Baby Yoda Blueball</td>
              <td data-title="Categoría">STAR WARS</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">2</td>
              <td data-title="Código">STW001002</td>
              <td data-title="Nombre del producto">Boba Fett Fighter</td>
              <td data-title="Categoría">STAR WARS</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">3</td>
              <td data-title="Código">STW001003</td>
              <td data-title="Nombre del producto">Luke Skylwalker & Grogu</td>
              <td data-title="Categoría">STAR WARS</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">4</td>
              <td data-title="Código">STW001004</td>
              <td data-title="Nombre del producto">Stormtrooper Lightsaber</td>
              <td data-title="Categoría">STAR WARS</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">5</td>
              <td data-title="Código">PKM001001</td>
              <td data-title="Nombre del producto">Charmander Smiley</td>
              <td data-title="Categoría">POKEMON</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">6</td>
              <td data-title="Código">PKM001002</td>
              <td data-title="Nombre del producto">Dragonite Hi!</td>
              <td data-title="Categoría">POKEMON</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">7</td>
              <td data-title="Código">PKM001003</td>
              <td data-title="Nombre del producto">Pidgeotto Flying</td>
              <td data-title="Categoría">POKEMON</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">8</td>
              <td data-title="Código">PKM001004</td>
              <td data-title="Nombre del producto">Pikachu Smiley</td>
              <td data-title="Categoría">POKEMON</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">9</td>
              <td data-title="Código">PKM001005</td>
              <td data-title="Nombre del producto">Vulpix Fancy</td>
              <td data-title="Categoría">POKEMON</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">10</td>
              <td data-title="Código">HPT001001</td>
              <td data-title="Nombre del producto">Harry Potter & Hegwid</td>
              <td data-title="Categoría">HARRY POTTER</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">11</td>
              <td data-title="Código">HPT001002</td>
              <td data-title="Nombre del producto">Herminione Ball Dress</td>
              <td data-title="Categoría">HARRY POTTER</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">12</td>
              <td data-title="Código">HPT001003</td>
              <td data-title="Nombre del producto">Luna Lovegood Lion Mask</td>
              <td data-title="Categoría">HARRY POTTER</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td data-title="ID">13</td>
              <td data-title="Código">HPT001004</td>
              <td data-title="Nombre del producto">Snape Patronus</td>
              <td data-title="Categoría">HARRY POTTER</td>
              <td>
                <div class="table__icons">
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-pen listProducts__edit-bottom"></i>
                  </a>
                  <a class="table__icon" href="../admin/edit.html">
                    <i class="fa-solid fa-trash listProducts__delete-info"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

    <%- include('../partials/footer') %>;
    <script src="https://kit.fontawesome.com/d82e4588df.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <!-- <script src="/public/js-fede/ListadoDeProducto.js"></script> -->
  </body>
</html>
