<%- include('../partials/header') %>
    <main class="root">
        <div class="new-item">
            <h1>EDITAR ITEM</h1>
        </div>
        <section>
            <div class="item-class">
                <label for="Categoria">Categoria</label>
                <select name="Categoria" id="Categoria">
                    <option value="Figuras">Figuras</option>
                </select>
                <label for="Licencia">Licencia</label>
                <select name="Licencia" id="Licencia">
                    <option value="Naruto">Naruto Shippuden</option>
                </select>
            </div>
            <div class="item-name">
                <label for="nameProduct" class="prodName">Nombre del producto</label>
                <input type="text" class="input-line">
                <br>
                <!--TODO:ARREGLAR ESTO, NO LOGRO QUE QUEDE GRANDE LA DESCRIPCION, Y SI QUEDA GRANDE SE ROMPEN LOS ESTILOS-->
                <textarea placeholder="Descripcion del producto" class="descr"></textarea>
            </div>
        </section>
        <section>
 
            <div class="item-category">
                <label for="SKU">SKU:</label>
                <input type="text" class="input-line">
                <label for="Precio">Precio:</label>
                <input type="text" class="input-line">
                <label for="stock">Stock:</label>
                <input type="text" class="input-line">
            </div>
            <br>
            <div class="item-price">
                <label for="Descuento">Descuento:</label>
                <input type="text" class="input-line">
                <label for="Cuotas">Cuotas</label>
                <select name="Cuotas" id="Cuotas">
                    <option value="cuotas6">3 Cuotas sín interés</option>
                    <option value="cuotas3">6 Cuotas sín interés</option>
                    <option value="cuotas12">12 Cuotas sín interés</option>
            </div>
        </section>
        <button class="btn-modificar">Modificar Producto</button>.
 
        <section>
            <div class="item-img">
                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                <input class="form-control" type="file" accept="image/*" id="formFileMultiple" onchange="getImagePreview(event)" />
                <div>
                    <div id="preview"></div>
                </div>
                <div class="btn-mod">
                    <button type="submit" class="btn-modificar">Modificar producto</button>
                </div>
            </div>
        </section>
    </main>
 
   <%- include('../partials/footer') %>;
 
    <script src="https://kit.fontawesome.com/d82e4588df.js" crossorigin="anonymous"></script>
    <script src="../../js/edit-item.js"></script>
</body>
 
</html>